<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  https://slack.com/apps/A0F7YS25R-bots でBOTを作ってTOKENを取得。
    　　　対象チャンネルにBotを招待する必要がある-->
    <add key="TOKEN" value="" />
    <add key="CHANNEL" value="general" />
    <!--<add key="PROXY" value="http://localhost:8080" />-->
    <add key="PROXY" value="" />
  </appSettings>
</configuration>